body {
   text-align: center;
   background-color: #181818;
   margin: 0;
}

#main {
   width: 60%;
   margin: auto;
}

header {
   margin: 60px auto 60px auto;
   color: #FFFFFF;
   text-align: center;
}

#blink {
   animation: blinking 1s infinite;
}

@keyframes blinking {
   0%, 49% {
       color:#181818;
   } 50%, 100% { 
       color: #FFF;
   }
}

main {
   margin: auto;
}

input {
   padding: 0 10px 0 10px;
   border-width: 0px;
   background-color: #A9A9A9;
   border-radius: 5px;
   height: 30px;
   width: 70%;
   margin: 30px 0 15px 0;
}

input:focus {
   background-color: #FFFFFF;
}

button {
   padding: 3px;
   border-width: 1px;
   border-color: white;
   border-radius: 5px;
   background-color: #181818;
   color: #FFFFFF;
   width: 50%;
   height: auto;
}

button:active {
   border-left-width: 3px;
   border-top-width: 3px;
   border-right-width: 2px;
   border-bottom-width: 2px;  
}

ul {
   text-align: center;
   list-style: none;
   padding: 0px;
}

.top {
   background-color: #333;
   display: block;
   width: auto;
   float: center;
   padding: 0 10px 0 10px;
   border-radius: 5px 5px 0px 0px;
}

.bot {
   border-radius: 0px 0px 5px 5px;
   width: auto;
   height: auto;
   display:block;
   float: none;
   background-color: #FFFFFF;
   overflow: auto;
}

ul li {
   min-width: 100%;
   width: auto;
   height:auto;
   margin: 15px auto 15px auto;
   padding: 5px 0 5px 0;
   vertical-align: middle;
}

ul li a {
   text-decoration: none;
   font-size: 17px;
   margin: 5px;
}

ul li a:visited {
   text-decoration: dotted;
}

footer {
   margin: auto;
   color: white;
   bottom: 0px;
   font-size: 35px;
   height: 40px;
}

footer a {
   color: #FFFFFF;
   text-decoration: none;
}
